* {
  border: 1px solid red;
  margin: 0;
  padding: 0;
}

html{
  color: #111;
  background: #fff;
}

body,td,th{
  font:12px Helvetica,Arial,sans-serif;
  line-height: 1.62;
}

div{
  display: block;
}

ul,ol{
  list-style: none;
}
ul{
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

a:visited{
  color: #669;
  text-decoration: none;
}
a:link{
  color: #37a;
  text-decoration: none;
}
a{
  cursor: pointer;
}

li{
  display: list-item;
}
/************头部**************/
header{
  width: 950px;
  margin: 0 auto 25px;
}

header .nav-link{
  float: right;
  margin-top: 6px;
}

header .nav-link li{
  display: inline-block;
  zoom:1;
  margin: 0 0 0 17px;
}

header .nav-link li a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 40px;
  height: 20px;
  overflow: hidden;
  margin: 0;
  line-height: 20em;
  outline: none;
  vertical-align: middle;
  background: transparent url(./img/nav-logo.png) no-repeat 100% 100%;
  /* background-image: -webkit-image-set(url(./img/nav-logo.png) 1x, url(./img/nav-logo.png) 2x); */
}