#foot{
  overflow: hidden;
  zoom: 1;
  padding: 14px 0;
  margin-top: 30px;
  border-top: 1px dashed #dcdcdc;
  color: #999;
  width: 950px;
  margin: 0 auto;
}

#foot #b-wrapper{
  display: flex;
  justify-content: space-between;
}
#foot #le{}
#foot #le h2{    color: #999;
  font: 12px Helvetica,Arial,sans-serif;
  line-height: 1.62;}
#foot #le h2 img{
  width: 15px;
  height: 17px;;
}
#foot #le h2 a{
  color: #669;
  font: 12px Helvetica,Arial,sans-serif;
    line-height: 1.62;
}
#foot #ri{}
#foot #ri .bottom{}
#foot #ri .bottom a{}
#foot #ri .bottom a img{}
#foot #ri .top{
  margin-bottom: 20px;
}
#foot #ri .top .nav{}
#foot #ri .top .nav a{    color: #669;
  font: 12px Helvetica,Arial,sans-serif;
  line-height: 1.62;}