#douban-login {
  background-image: url(../img/2-login/login-content.jpg);
  margin-bottom: 25px;
  background-size: contain;
  background-position: calc(50% - 305px) top;
  background-repeat: no-repeat;
  background-color: #edf4ed;
}

#douban-login .wrapper {
  position: relative;
  padding: 0 0 4px;
  overflow: visible;
  zoom: 1;
  width: 950px;
  margin: 0 auto;

}

#douban-login .wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: 0 -150px;
}

#douban-login .wrapper:after {
  content: "\0020";
  display: block;
  clear: both;
}

#douban-login .wrapper .login,
#anony-reg-new .wrapper .app {
  position: relative;
}

#douban-login .login {
  width: 300px;
  float: right;
  font-size: 0;
  letter-spacing: -.31em;
  *letter-spacing: normal;
  *word-spacing: -.43em;
}

#douban-login .app {
  position: absolute;
  height: 120px;
  top: 0;
  bottom: 0;
  margin: auto 0 auto 475px;
  *margin-top: 20px;
}

#douban-login .app-title {
  margin: 7px 0;
  font-size: 25px;
  color: #111;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

#douban-login .app-title span {
  color: #111;
  margin-left: 10px;
  font-weight: 100;
}

#douban-login .app-slogan {
  margin: 0 0 18px;
  font-size: 0;
  color: #111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

#douban-login .app-slogan:after {
  content: "";
  display: inline-block;
  width: 100%;
}

#douban-login .lnk-app:link,
#douban-login .lnk-app:visited,
#douban-login .lnk-app:hover,
#douban-login .lnk-app:active {
  background: #00B51D;
  color: #FFF;
}

#douban-login .lnk-app {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 9px 21px;
  margin-right: 2px;
  vertical-align: top;
  border-radius: 2px;
  font-size: 12px;
  background: #00B51D;
  color: #FFF;
  line-height: 1;
}

#douban-login .app-qr {
  display: inline-block;
  *display: inline;
  zoom: 1;
  position: relative;
  /* pointer-events: none; */
}

#anony-reg-new .lnk-qr {
  display: inline-block;
  *display: inline;
  zoom: 1;
  border: 1px solid #48aa0d;
  border-radius: 2px;
  pointer-events: none;
}

#douban-login .app-qr-expand {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 20px 5px;
  border-radius: 2px;
  text-align: center;
  font-size: 13px;
  color: #666;
  background: #fff;
  line-height: 13px;
  white-space: nowrap;
  pointer-events: none;
}
